
/*General Rule Sets*/
html {
    background-color: rgb(231, 219, 173);
}

body {
    width: 1440px;
    margin: auto;

    
}


h1 {
    color: rgb(252, 207, 29);
    font-family: "Italiana", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    text-align: center;
    text-shadow: 4px 3px rgb(116, 73, 79);
    font-size: 234px;
    
}

h2 {
    color: rgb(252, 207, 29);
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(145, 102, 108);
    font-size: 125px;
    margin-bottom: 0px;
    
}

p {
    color: rgb(116, 73, 79);
    line-height: 1.2rem;
    width: 815px;
}


/*Landing Rule Sets*/
html.initial {
    background-image: url(../lalalandphotos/La-La-Land-006.jpg);
    background-repeat: no-repeat;
    background-position-y: 110px;
    background-color: rgb(116, 73, 79);
    
}

h1.first {
    font-size: 251px;

}

h3.button {
    font-size: 38px;
    text-align: center;
    background-color: rgb(252, 207, 29);
    border-radius: 20px;
    border: 5px solid rgb(252, 207, 29);
    margin: 27rem 30rem 0rem 30rem;
}

div.names span {
    color: rgb(252, 207, 29);
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 1em;
    font-size: 40px;

}

div.names {
    margin: 3rem 0rem 0rem 4rem;
    padding: 2px 0px 0px 4px;
}

/*Pages Rule Set*/


h3.top {
    font-size: 90px;
    text-align: center;
}

section {
    padding: 20px;
}

.imgone {
    width: 451px;
    height: auto;
    float: left;
}

.imgtwo {
    width: 451px;
    height: auto;
    float: right;
}

footer {
    color: rgb(145, 102, 108);
    font-family: "Bebas Neue", serif;
    margin: 5rem 5rem 5rem 9rem;
    text-align: center;
}

footer div span {
    margin-right: 5rem;
    color: rgb(145, 102, 108);
}

.navigation {
    font-family: "Bebas Neue", serif;
    float: left;
    font-size: 50px;
    margin-top: 5.5rem;
    position: sticky;
    top: 500px;
}

.navigation li {
    display: block;
}

.container {
    flex: auto;
    margin: 0px 15rem 0px 20rem;
}

/*Plot Rule Sets*/
section.songs {
    background-color: rgb(145, 102, 108);
    border-radius: 10px;
    padding: 0px 0px 50px 0px;
    
}

section.songs h3 {
    color: rgb(231, 219, 173);
    margin-top: 100px;
    padding: 10px;
}

section.songs li {
    font-family: "Bebas Neue", serif;
    font-size: 30px;
    color: rgb(231, 219, 173);
    padding: 10px;
    border: 4px solid rgb(116, 73, 79);
    background-color: rgb(116, 73, 79);
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 40rem;
    display: block;
}


/*Styling Buttons*/

a:link {
    color: rgb(145, 102, 108);
    text-decoration: none;

}

.button a:hover {
    text-shadow: rgb(164, 118, 124);
    box-shadow: inset;
}

@media (min-width: 1024px) {
    h1.first {
        font-size: 125px;
    
    }
    
    h3.button {
        font-size: 28px;
        margin: 27rem 30rem 0rem 30rem;
    }
    
    div.names span {
        margin-right: 1em;
        font-size: 38px;
    
    }
    
    div.names {
        margin: 3rem 0rem 0rem 4rem;
        padding: 2px 0px 0px 4px;
    }
}








