

body {
    margin: auto;
    max-width: 800px;
    width: 90%;

}

@media (min-width: 640px) {
    html {
        background-color: #eaf6ff;
    }

    h1 {
        font-size: 2.5rem;
    }

    .stretchable-grid-items li {
        width: 25%;
        }    

}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 480px) {
    
    .stretchable-grid-items li {
    width: 50%;
    }    
}

ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: block;
    font-size: 0.8rem;
    width: 170px;
}

aside {
    margin: 0px 10px 0px 0px;
}

.stretchable-grid-items li {
    width: 100%;
}    



