header {
  margin-top: 3rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: lighter;
   

}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
}

p {
    line-height: 1.6;
}

.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

nav li.selected a {
    color:black;
    font-weight: bold;
    
}

#game-of-thrones, #unbreakable-kimmy-schmidt {
    border-top: 1px solid black;
}

img {
    width: 100%;
}

.cast li {
    width: 25%;
}

div {
    font-size: 0.8rem;
}

img + div {
    font-weight: bold;
}

div + div {
    font-style: italic;
}

#game-of-thrones .seasons ul li:last-child::after {
    content: "*";
}


#game-of-thrones .seasons ul::after {
    content: "* Final Season";
    font-size: 0.7rem;
    color: #999;
}


